.profile {
    z-index: 0;
    margin-bottom: 5rem;;
    position: relative;
    display: block;
    margin-top: 80px;
    left: 0;
    opacity: 1;
}

.container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1400px;
    position: relative;
}

.left-title-bg {
    background-color: #fb5a38;
    width: 30%;
    height: 4rem;
    position: absolute;
    z-index: 1;
    top: 0;
    transform: translate(0, -50%);
    border-radius: 0 1.5rem 1.5rem 0;

    @media (max-width: 1024px) {
        display: none;
    }
}

.left-title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translate(0, -50%);
    padding: 0.375rem 0;
    color: white;

    @media (max-width: 1024px) {
        background: #fb5a38;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1.5rem;
        padding: 8px 12px;
    }
}

.profile {
    z-index: 0;
    margin-bottom: 80px;
}

.profile-content-bg {
    background: linear-gradient(90deg, white 40%, rgba(0, 0, 0, 0) 10%);
    
    @media (max-width: 1024px) {
        background: white;
    }
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 1rem;
    }
}

.profile-content {
    width: 60%;
    background: white;
    border-radius: 180px;
    padding: 3rem 0;
}

.profile-subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    img {
        width: 3rem;
    }

    @media (max-width: 1024px) {
        img {
            width: 1.5rem;
        }
    }
}

.profile-text {
    font-size: 1.25rem;
    width: 70%;

    li {
        margin-bottom: 0.5rem;
        list-style: none;
    }

    @media (max-width: 1024px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.mail {
    font-size: 18px;

    a:hover {
        opacity: 0.7;
    }
}

.profile-tags {
    font-size: 1rem;
    width: 20%;

    li {
        list-style: none;
        z-index: 10;
        padding: 0 0.5rem;
        width: 100%;
        margin-left: -10rem;

        text-align: center;
        position: relative;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &::before {
            position: absolute;
            z-index: -1;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #fb5a38;
            transform: skew(-30deg);
            box-sizing: border-box;
        }

        a {
            color: black;
        }
    }

    @media (max-width: 1024px) {
        li {
            margin: 0 0.5rem;
        }
    }

    @media (max-width: 768px) {
        li {
            width: 50%;
            margin-bottom: 0.5rem;
        }
    }

    @media (max-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .profile-tags {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
    }
}

@media (max-width: 768px) {
    .profile-tags {
        flex-direction: column;
        align-items: center;
    }
}