footer {
    background-color: #f0c180;
    color: black;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    padding-top: 12px 0;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 12px 55px;
    }

    @media (min-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
        padding: 16px 55px;
    }
}

footer p {
    margin: 0;
    padding: 0 1rem;
}

footer a {
    color: inherit;
}

footer span:hover {
    transition: all 0.3s;
    opacity: 0.5;
    &::before {
      content: attr(data-text);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke: 3px #fff;
      transition: all 0.3s;
    }
}