body {
    background-color: rgba(242,217,180,0.5);
    padding: 0;
    overflow-x: hidden;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#banner {
    margin-top: 120px;
    width: 100vw;
    overflow: hidden;
}

#banner img{
    width: 100vw;
    height: auto;
    display: block;
    object-fit: cover;
}

.intro-container {
    margin-bottom: 30px;
}

.member-container {
    margin-bottom: 30px;
}