@layer base {
  @font-face {
    font-family: NotoSansTC;
    font-weight: 700;
    src: url(/src/fonts/NotoSansTC-VariableFont_wght.ttf);
  }
  .font-outline-3 {
    -webkit-text-stroke: 3px #fb5a38;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: NotoSansTC, sans-serif;
}

/* scroll bar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fb5a38;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #634700;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}